.Top
  .Top__upper
    = link_to "#", class: "Top__upper__loginBtn" do
      ログイン
  .Top__middle
    .Top__middle__date
    .Top__middle__title
  .Top__bottom
    = link_to "#", class: "Top__bottom__previousDayBtn" do
    = link_to "#", class: "Top__bottom_nextDayBtn" do