.Bottom
  .Bottom__user
    .Bottom__user__nameBox
      name
    .Bottom__user__nameBox
      john
    .Bottom__user__nameBox
      joseph
    .Bottom__user__nameBox
      jack
    .Bottom__user__nameBox
      john
    .Bottom__user__nameBox
      joseph
    .Bottom__user__nameBox
      jack
  .Bottom__schedule
    .Bottom__schedule__body
      = render "chart"